.list {
	overflow-y: auto;
	flex: 1;
	margin-top: 20px;
}

.list > div {
	white-space: nowrap;
	padding: 2px 0;
}

.list.selectable > div {
	cursor: pointer;
}

.list.selectable > div:hover {
	background: #cce4ff;
}

button,
label.button {
	background: none;
	border: 0;
	cursor: pointer;
}

button:hover,
label.button {
	background: #cce4ff;
}

button:active,
label.button {
	background: #99caff;
}

label.button > input[type="file"] {
	display: none;
}
