.list {
	overflow-y: auto;
	flex: 1;
	margin-top: 20px;
}

.list > div {
	white-space: nowrap;
	padding: 2px 0;
	display: inline-block;
}

.list.selectable > div {
	cursor: pointer;
}

.list.selectable > div:hover {
	background: #cce4ff;
}

.list.selectable > div.selected {
	background: #ffeacc;
}

button {
	background: none;
	border: 1px solid #aaa;
	cursor: pointer;
}

button:hover {
	background: #cce4ff;
}

button:active {
	background: #99caff;
}

label.button {
	display: contents;
}

label.button > input[type="file"] {
	display: none;
}
